$a: lighten($primaryColor, 40% );
$b: darken($accentColor, 50%);

div.hello-form{
color: blue;
  input{
    border: 1px solid $a;
  }
}
.muidocs-checkbox-example{
  border: 1px solid red;
  background: red;
  width: $localNavHeight;
}
