@font-face {
  font-family: 'myrProRegular';
  font-style: normal;
  font-weight: normal;
  src: url('./MyriadPro-Regular.eot'),
       url('./MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
      // url('./MyriadPro-Regular.woff2') format('woff2'),
       url('./MyriadPro-Regular.woff') format('woff'),
       url('./MyriadPro-Regular.ttf') format('truetype'),
       url('./MyriadPro-Regular.svg#myrProRegular') format('svg');
}
